{
	metrics {
		per_host
	}
}
{% for site in sites %}

{% if site.http is true %}
http://{{ site.domain }} {
	reverse_proxy {{ site.upstream }}
}
https://{% endif %}{{ site.domain }} {
	tls internal
	reverse_proxy {{ site.upstream }}
}
{% endfor %}
